<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SecretSquirrel.AndroidNoise"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name="com.SecretSquirrel.AndroidNoise.model.NoiseRemoteApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.SecretSquirrel.AndroidNoise.services.NoiseRemoteService"
            android:label="AndroidNoise:NoiseRemoteService" />
        <service
            android:name="com.SecretSquirrel.AndroidNoise.services.NoiseDataService"
            android:label="AndroidNoise:NoiseDataService" />
        <service
            android:name="com.SecretSquirrel.AndroidNoise.services.ServiceLocator"
            android:label="AndroidNoise:ServiceLocator" />
        <service
            android:name="com.SecretSquirrel.AndroidNoise.services.EventHostService"
            android:label="AndroidNoise:EventHostService"/>

        <activity
            android:name="com.SecretSquirrel.AndroidNoise.activities.ShellActivity"
            android:label="@string/title_activity_shell" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
